<%- include('partials/header'); -%>
<h1>Lets Shop!!</h1>

<div class="col-xs-12  col-lg-6">
<img src="/images/<%=name%>.jpg" alt="no-image" width="100%">
</div>
<div class=" container col-xs-12  col-lg-6">
  <h4 class="price">Price: Rs.<%= price %></h4>
  <h4 class="price"> Care Instructions : Machine Wash</h4>
  <h4 class="price"> Fit Type: Skinny</h4>
  <h4 class="price">Generic Name : T-shirt</h4>
  <h4 class="price">Material : Cotton</h4>
  <h4 class="price">Review: Great!!</h4>
  <h4 class="price">Department: Unisex</h4>
  <h4 class="price">Manufacturer: Adidas</h4>
  <br>
  <br>
  <a class="btn"href="/pages/payment"><button class="card2 btn-dark btn-lg download-button ">Buy Now and Make Payment</button></a>
</div>
