<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>TeenShirt.com</title>
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Google fonts -->
  <script src="https://kit.fontawesome.com/2f59cad7c4.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section id="title1">
    <div class="container1-fluid">


      <!-- Nav Bar -->
      <nav class="navbar1 navbar1-expand-lg navbar1-dark">
        <h3 class="navbar1-brand" href="">TeenShirts.com</h3>
      </nav>




      <!-- Title -->

      <div class="row">
        <div class="col-lg-6">
          <h1 class="head">Buy Premium Quality Tshirts.</h1>

          <a href="/pages"><button type="button" class="btn btn-dark btn-lg download-button">See collection</button></a>
        </div>



      </div>
    </div>
  </section>


  <!-- Features -->



  <section class="white-section" id="features">

      <div class="container-fluid">

        <div class="row">
          <div class="feature-box col-lg-4">
            <i class="icon fas fa-tshirt fa-4x"></i>
            <h3 class="feature-title">Comfortable To Wear.</h3>
            <p>Fits Just Right Not Too Loose not Too Tight.</p>
          </div>

          <div class="feature-box col-lg-4">
            <i class="icon fas fa-shopping-bag fa-4x"></i>
            <h3 class="feature-title">Best Quality</h3>
            <p>Quality that everyone will be Jelous Of!!.</p>
          </div>

          <div class="feature-box col-lg-4">
            <i class="icon fas fa-truck fa-4x"></i>
            <h3 class="feature-title">30-Days Return .</h3>
            <p>Return in 30-days.No questions Asked</p>
          </div>
        </div>


      </div>
    </section>

  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">One of the Finnest collection of E-Commerce World</h2>
          <img class="testimonial-image" src="images/lady-img.jpg" alt="dog-profile">
          <em>Fashion Blogger,New York</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Best Customer service </h2>
          <img class="testimonial-image" src="images/angela.png" alt="lady-profile">
          <em>Customer, India</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Press -->

  <section id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>


  <!-- Featured Products -->

  <div class="container-fluid">
    <h1 class="prod"> Our Featured Products</h1>
<div class="premium row">
  <div class="card col-xs-12  col-lg-6">
    <img class="pimage"src="/images/greenshirt2.jpg" alt="no-image" width="100%">
    <p class="price">Price: Rs.300</p>
    <p>Flat 35% Discount</p>
    <a href="/pages/greenshirt2"><button>View Details</button></a>

  </div>

  <div class="card col-xs-12  col-lg-6">
    <img class="pimage"src="/images/blueshirt3.jpg" alt="no-image" width="100%">
    <p class="price">Price: Rs.200</p>
    <p>Flat 30% Discount</p>
    <a href="/pages/blueshirt3"><button>View Details</button></a>

  </div>

  <div class="card col-xs-12  col-lg-6">
    <img class="pimage"src="/images/apples1.jpg" alt="no-image" width="100%">
    <p class="price">Price: Rs.250</p>
    <p>Flat 20% Discount</p>
    <a href="/pages/apples1"><button>View Details</button></a>

  </div>

</div>
</div>

  <!-- Call to Action -->
  <section id="title1">
    <div class="container1-fluid">
      <h2>TeenShirts.com</h2>
      <a href="/pages"><button type="button" class="btn btn-dark btn-lg download-button">See collection</button></a>
      <br>
      <br>
      <br>
      <br>
      <p class="email">Send an Email at : kushagra.2198@gmail.com</p>
      <br>
      <a class="email"href="https://www.linkedin.com/in/kushagra-2198"> Let's to Connect on LinkedIn</a>
      <br>
      <br>
      <p class="email">Contact No : 7992349944 or 9162155278</p>
    </div>
  </section>
</body>
</html>
